/*div {
  display: inline-block;
  margin: 5px 5px;
  text-align: center;
  border: 0.2em solid rgb(209, 231, 255);
}*/

div.header {
  display: block;
  text-align: left;
}

div.search_results {
  width: 300px;
  height: 300px;
  background-color: yellow;
}


div.spotlight {
  width: 500px;
  height: 500px;
  background-color: linen;
  overflow: hidden;
}

div.event_comments {
  width: 700px;
  max-height: auto;
  background-color: linen;
}

div.single {
  display: block;
  text-align: left;
  max-width: 100%;
  background-color: linen;
}

div.upvote {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.orange {
  color: orange;
}

div.content {
  display: inline-block;
  text-align: left;
  max-width: 500px;
  background-color: linen;
}

img {
  display: inline-block;
  max-width: 100%;
}

h4, p {
  text-align: left;
}
