div {
  display: inline-block;
  margin: 5px 5px;
}

div.heart {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: 35px;
  max-height: auto;
}

.red {
  color: red;
}

#inner {
  width: 50%;
  margin: 0 auto;
}

div.is-ancestor {
  justify-content :center;
}
