div {
  display: inline-block;
  margin: 5px 5px;
}

div.heart {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: 35px;
  max-height: auto;
}

div.is-ancestor {
  justify-content :center;
}

.red {
  color: red;
}

#inner {
  width: 50%;
  margin: 0 auto;
}

.ext_button_padding {
  margin-left: 10px;
  margin-right: 10px;
}

.round {
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  height: 150px;
 }

 .round img {
   width: 100%;
   height: 100%;
   -webkit-border-radius: 100%;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 100%;
   -moz-background-clip: padding;
   border-radius: 100%;
   background-clip: padding-box;
   float: left;
   background-size: cover;
   background-position: center center;
 }
