<div class="level"></div>
<p class="title is-2 is-spaced">About LinkUp</p>


<div class="tile is-ancestor">
<div class="tile is-parent is-vertical">
<div class="tile is-child">

    <p>Welcome to LinkUp, an application made by the people, for the people.  Remember that Justin Beiber concert you wanted to go to last month? The one that none of your friends wanted to go to with you?  What could have been a chance to meet the Biebs and join him on his world tour turned into another night watching reruns of The Office on Netflix and eating Ben and Jerry's.</p>
    <br>
    <p>We've all been there before- spending the week trying to convince your friends to go to an event with you to no avail.  Most of the time you don't even end up going because let's be real, no one wants to pull a Steven Glansberg and go out by themselves. </p>
    <br>
    <div class="level">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_ZjH4wnzwk4" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <p>That's where LinkUp comes in.  LinkUp allows you to meet other people such as yourself who are interested in going to an event but have no one to go with.  Users can search for events going on in their area and see how many other people are going alone and want to meet up.  The comment section on each event page allows users to interact with each other and form plans to meet up at the show!  So next time that artist you really want to see is in town, you won't miss the show just because you can't find a friend!  </p>

</div>
</div>
</div>
