<div class="tile is-ancestor">

  <!-- parent tile -->
  <div class="tile is-parent is-4">

    <div class="tile is-child">
      <article class= "tile is-child notification is-white">
        <p class="title is-3">Search for an Event!</p>

        <div class="tile is-vertical">

          <!-- beginning of form -->
          <%= form_tag events_path do %>
            <div class="field">
              <label class="label">Search Keyword</label>
              <div class="control">
                <input type="text" name="event[search_keyword]" id="event_search_keyword" class= "input" placeholder="Keyword">
              </div>
            </div>

            <div class="field">
              <label class="label">Zip Code</label>
              <div class="control">
                <input type="text" name="event[zipcode]" id="event_zipcode" class= "input" placeholder="Zip Code">
              </div>
            </div>

            <div class="field">
              <label class="label">Radius (Miles)</label>
              <div class="control">
                <input type="text" name="event[radius]" id="event_radius" class= "input" placeholder="Radius">
              </div>
            </div>

            <div class="field">
              <label class="label">When?
              <div class="control">
                <div class="select is-small">
                  <%= select_tag :'event[start_date]', options_for_select(@timing), include_blank: true %>
                </div>
              </div>
              </label>
            </div>
            <br>

            <div class="field">
              <label class="label">Only Free Events?
                <div class="control">
                  <%= check_box_tag :'event[free]' %>
                </div>
              </label>
            </div>
            <br>

            <div class="control">
              <input type="submit" class="button background-purple has-text-white-bis" name="commit" value="Submit" data-disable-with="Submit">
            </div>

          <% end %>
          <!-- end of form -->

        </div>
      </article>
    </div>
  </div>
  <!-- end of parent tile -->

</div>
