<div class="header">
  <h1>Results from Event Query</h1>
</div>

<% @matching_events.each do |event| %>

  <div class="search_results">
    <img src="<%= event.image_url %>">
    <h4><%= link_to event.name, event_path(event.id) %></h4>
    <h4><%= event.start_time %></h4>
  </div>

<% end %>
