<!DOCTYPE html>
<html>
  <head>
    <title>LinkUp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="js/jquery.vide.min.js"></script>
    <div style="position: fixed;
       top: 100%; left: 100%;
       z-index: 1;
       max-width: 100%;
       max-height: 100%;
       width: auto;
       height: auto;
       transform: translate(-50%, -50%);"
      data-vide-bg="../../assets/videos" data-vide-options="loop: false, muted: false, position: 0% 0%">
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
